{% extends "../base_power_system.html" %}
{%  load static %}
{% block title %}MAP{% endblock %}  <!-- Smart Power System -->
{% block content %}
<style>
  /* body{background-color: rgb(98, 94, 94);}
     Number text (1/3 etc) */
     .aa{
        background-color: #ce4a2d;
        color:whitesmoke !important;
 
     }
        .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }
    
  .btn-energy {
    color: #212529 !important;
    background-color: #ce4a2d !important;
    border-color: #ce4a2d !important;
    padding: 0.8rem 1.7rem !important;
    border-radius: 0.5rem !important;
  }    

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
    background-color: #717171;
    }

    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }


    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }


  /* Style for slider container */
  /*.slider {
      width: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }*/

    /* Style for slides */
    .slide {
      display: none;
      width: 100%;
      text-align: center;
    }

    /* Style for images */
    .slide img {
      width: 100%;
      height: 50rem;
      top: 0;
    left: 0;
    } 

    /*.slide img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    } */

    /* Style for text */
    .slide .text {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.4);
      color: white;
      padding: 20px;
      border-radius: 5px;
    }

  /*  @keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}*/
/* Register with slideshow jion */
.pay-card{
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 15px !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.12)!important;
  overflow: hidden;
  border: 0 !important;
}

.pay-card>.row{
  height: 100%;
}

@media screen and (max-width: 500px) {
  .mobile-d-none{
      display: none !important;
  }

  .font-17-13{
      font-size: 13px;
  }

  .pay-div>div{
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
  }

  .blob3 {
      height: 230%;
      right: -50px;
  }

  .blob1 {
      height: 30%;
      left: unset;
      margin-right: unset;
      right: -43px;
      top: -99px;
      rotate: 23deg;
  }

  .font-tab-large{
      font-size: 4.5rem !important;
  }

  .pay-card{
      height: fit-content;
      padding-bottom: 15px;
      margin-top: 30px;
  }

  .flex-tab-50{
      flex: 0 0 100% !important;
      max-width: 100% !important;
  }

  .flex-50{
      flex: 0 0 50% !important;
      max-width: 50% !important;
  }

  .aedc-logo{
      height: 70%;
  }

  .btn-energy{
      padding: 0.7rem 1.5rem !important;
  }

  .inner-div{
      max-height: 95vh;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


</style>

{%comment%}
<!--
{% include './component/loader.html' %}
 #END# Page Loader -->{%endcomment%}
{% include '../component/nav.html' %}
 <!-- End Top Bar -->
 <!-- Sidebar -->
 {% include '../component/sidebar.html' %}
 <!-- End Sidebar -->
 <!-- pagecontent --> 
 <section class="content">
 
  <div class="container-fluid">   
      <div class="row clearfix">
          <!-- Task Info -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="header">
                      <h2>Form Detatail</h2>
                      <ul class="header-dropdown m-r--5">
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  <i class="material-icons">more_vert</i>
                              </a>
                              <ul class="dropdown-menu pull-right">
                                  <li><a href="javascript:void(0);">Action</a></li>
                                  <li><a href="javascript:void(0);">Another action</a></li>
                                  <li><a href="javascript:void(0);">Something else here</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <div class="body">
                     <!---->
                        <div class="row">
                            <script src="{% static 'js/iotPowerSystem/power.js' %}"></script>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="content">
                                  <div class='row'>
                                      <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12'>
                                          {%for d in data%}
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item"><span><h4>State You Applied from:  </h4></span>{{d.state}}</li>
                                          <li class="list-group-item"><span><h4>Local Gov Area:  </h4></span>{{d.local_gov_area}}</li>
                                          <li class="list-group-item"><span><h4>Address:  </h4></span>{{d.house_address}}</li>
                                          <li class="list-group-item"><span><h4>AEDC Account Number:  </h4></span>{{d.account_number}}</li>
                                          <li class="list-group-item"><span><h4>Premises Usage:  </h4></span>{{d.premises_usage}}</li>
                                          <li class="list-group-item"><span><h4>Building Type:  </h4></span>{{d.building_type}}</li>
                                        
                                          <li class="list-group-item"><span><h4>Thing to be used:  </h4></span>{{d.electricalList}} </li>
                                          <li class="list-group-item"><span><h4>Esteemated Power Needed:  </h4></span>{{d.total_wattage}}</li>
                                        </ul>
                                        {%endfor%}                         
                                      </div>
                                      <br />
                                      <div class="nav-item">
                                        <a class="Btn" href="{% url 'meterapp:edit_form' st %}">Edit Application Form</a>
                                     </div>
                                </div>    
                          </div>
                        </div>
                     <!----> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock %}