{% extends "../base_power_system.html" %}
{%  load static %}
{% block title %}SPS(mini SCADA){% endblock %}  <!-- Smart Power System -->
{% block content %}

<style>
     button {
    bottom: 20px;
    right: 30px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #555;
  }
    form p {
        margin: 1em 0 .5em 1em;
    }
    
    form {
        background-color: #fafafa;
        padding: 1.5em;
        /*margin-right: 6em;*/
    }
    
    input, select, textarea {
        margin: 1em;
        padding: .5em;
        width: 45%;
        font-size: 17px;
        border: 1px solid #aaa;
    }
    
    input[type="checkbox"] {
        width: auto;
        margin: .5em 1em 0 1em;
    }
    
    input[type="date"] {
        color: #aaa!important;
    }
    
    #locationField > input {
        width: 290%!important;
    }
    
    input.invalid {
        background-color: #ffdddd;
    }
    
    .tab {
        display: none;
    }
    
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }
    
    .step.active {
        opacity: 1;
        background-color: #fac123;
    }
</style>

<!-- Page Loader 
{% include '../component/loader.html' %}-->
<!-- #END# Page Loader -->
 <!-- Top Bar -->
{% include '../component/nav.html' %}
 <!-- End Top Bar -->
 <!-- Sidebar -->
 {% include '../component/sidebar.html' %}
 <!-- End Sidebar -->
 <!-- pagecontent -->
 
<section class="content">
    <div class="container-fluid">
 
        <!-- Advanced Form Example With Validation -->
        <div class="row clearfix">
            {% include 'partials/_messages.html' %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>METER APPLICATION FORM</h2>
                    </div>
                    <div class="body">
                        <form id="formv" action="{% url 'meterapp:new_application' %}" method="POST">
                            {% include 'partials/_messages.html' %}
                            {% csrf_token %}
                            {{form.no_field_errors}}
                            {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %} 
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% endif %}
                            <div class="tab">
                                <h3>Account Information</h3>
                                <fieldset>
                                    <br /><br />
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            {{form.user.errors}}
                                            <label class="form-label">Applicant Or Owners Email</label>
                                            <select class="form-control" name="user">
                                                <option >{{users}}</option>    
                                            </select>                                      
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3 col-sm-6">
                                        {{form.premises_usage.errors}}
                                        <label class="form-label">Use of the Premises</label>
                                     {%comment%}   {{form.premises_usage}} {%endcomment%} 
                                     <select class="form-control" name="premises_usage">
                                        {% for i in form.premises_usage %}
                                                <option >{{i}}</option>
                                                {% endfor %}
                                    </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        {{form.state.errors}}
                                        <label class="form-label">State*</label>
                                      {%comment%}  {{form.state}}  {%endcomment%} 
                                      <select class="form-control" name="state">
                                        {% for i in form.state %}
                                                <option >{{i}}</option>
                                                {% endfor %}
                                    </select>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        {{form.local_gov_area.errors}}
                                        <label class="form-label">Local Government Area*</label>
                                        {{form.local_gov_area}}   
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        {{form.meter_type.errors}}
                                        <label class="form-label">Type of Meter*</label>
                                        {{form.meter_type}}  
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            {{form.house_address.errors}}
                                            <label class="form-label">Address Of The Premises/House To use the Meter*</label>                                        
                                            {{form.house_address}}
                                        </div>
                                    </div>
                                    <br />
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{form.building_type.errors}}
                                            <label class="form-label">Type of Premises(Building)*</label>
                                            <input type="text" name="building_type" list="building_type_othe" class="form-control" placeholder="please specify building Type">
                                            {%comment%}{{form.building_type}}{%endcomment%}
                                            <datalist id="building_type_othe">
                                                {% for i in form.building_type %}
                                                <option >{{i}}</option>
                                                {% endfor %}
                                            </datalist>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        {{form.account_number.errors}}
                                        
                                            <label class="form-label">Enter Account Number</label>
                                            {{form.account_number}}
                                        
                                    </div>             
                                </fieldset>
                            </div>
                            <div class="tab">
                                <h3>Declaration Information</h3>
                                <p>to be complete by certified/registered Electrical Engineer/ accredited Electrical Contractor</p>
                                <br />
                                <br />
                                <fieldset>  
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{form.electrical_personnel_name.errors}}
                                        <div id="hiddenForm">
                                            <label class="form-label">Name of Engineer or Accredited Electrical Contractor</label>
                                            {{form.electrical_personnel_name}}
                                        </div>
                                    </div> 
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{form.licence_number.errors}}
                                        <div id="hiddenForm">
                                            <label class="form-label">Licence Number of Engineer Or Accredited Electrical Contractor</label>
                                            {{form.licence_number}}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        {{form.category.errors}}
                                        <label class="form-label">Category*</label>
                                        {{form.category}}   
                                    </div>

                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        {{form.sdate.errors}}
                                        <label class="form-label">Date*</label>
                                        {{form.sdate}}
                                    </div> 
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        {{form.area_office.errors}}
                                        <label class="form-label">AEDC Area Office</label>
                                        {{form.area_office}}
                                    </div> 
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        {{form.regional_office.errors}}
                                        <label class="form-label">AEDC Regional Office*</label>
                                        {{form.regional_office}}
                                    </div> 

                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                        {{form.electrical_point_list.errors}}
                                        <label class="form-label">List of outlet point eg socket, lighting point, AC, ceiling fan etc*</label>
                                        {{form.electrical_point_list}}
                                        <!--<input type="text" name="outlet_point" class="form-control" placeholder="point: Number and Wattage" required>-->
                                    </div> 
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {{form.total_wattage.errors}}
                                        <div id="hiddenForm">
                                            <label class="form-label">Total Number of Wattage Esteemated</label>
                                            {{form.total_wattage}}
                                        </div>
                                    </div>  
                                </fieldset>
                            </div>
                            <div class="tab">
                                <h3>Terms & Conditions - Finish</h3>
                                <fieldset>
                                    <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                                    <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                                </fieldset>
                            </div>
                            <div style="overflow:auto;">
                                <div style="float:right;">
                                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                </div>
                            </div>
                            <div style="text-align:center;margin-top:40px;">
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                            </div>    
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Advanced Form Example With Validation -->   
    </div>
</section>
{%comment%}
<script>
    function showForm() {
      var selectElement = document.getElementById("options");
      var hiddenForm = document.getElementById("hiddenForm");

      if (selectElement.value =="YES") {
        hiddenForm.style.display = "block";
      } else {
        hiddenForm.style.display = "none";
      }
    }
  </script>

<script>
    $(document).ready(function(){
        $("#options").click(function(){
        var hiddenForm = document.getElementById("hiddenForm");
        if (selectElement.value =="YES") {
        hiddenForm.style.display = "block";
      } else {
        hiddenForm.style.display = "none";
      }
        });
    });
</script>
{%endcomment%}

<script>
    // ~~~ tab functionality

var currentTab = 0; // current tab is set to be the first tab (0)
showTab(currentTab); // display the current tab

function showTab(n) {

    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";

    if (n == 0) {
        document.getElementById("prevBtn").style.display = "none";
    } else {
        document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
        document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
        document.getElementById("nextBtn").innerHTML = "Next";
    }

    fixStepIndicator(n)
}

function nextPrev(n) {

    var x = document.getElementsByClassName("tab");

    if (n == 1 && !validateForm()) return false;

    x[currentTab].style.display = "none";

    currentTab = currentTab + n;

    if (currentTab >= x.length) {
        //...the form gets submitted:
        document.getElementById("formv").submit();
        return false;
    }

    showTab(currentTab);
}




function validateForm() {
    var x, y, i, s, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    s = x[currentTab].getElementsByTagName("select");
    for (i = 0; i < y.length; i++) {
        if (y[i].value == "") {
            y[i].className += " invalid";
            valid = false;
        }
    }

    for (i = 0; i < s.length; i++) {
        if (s[i].value == "") {
            s[i].className += " invalid";
            valid = false;
        }
    }

    if (valid) {
        document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
}

function fixStepIndicator(n) {

    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace(" active", "");
    }

    x[n].className += " active";
}

// ~~~ dog breed selector

const BREEDS_URL = 'https://dog.ceo/api/breeds/list/all';

const select = document.querySelector('.breeds');

fetch(BREEDS_URL)
    .then(res => {
    return res.json();
})
    .then(data => {
    const breedsObject = data.message;
    const breedsArray = Object.keys(breedsObject);
    for (let i = 0; i < breedsArray.length; i++) {
        const option = document.createElement('option');
        option.value = breedsArray[i];
        option.innerText = breedsArray[i];
        select.appendChild(option);
    }
    console.log(breedsArray);
});

// ~~~ basic form validation

// ~~~ date validation

function checkStartDate() {
    var startDate = document.getElementById('sdate').value;
    var selectedStartDate = new Date(startDate);
    var now = new Date();
    if (selectedStartDate > now) {
        alert("Please enter the date of application and can't be future date");
        $("#sdate").addClass("invalid");
    }
}

</script>

{% endblock %}